contador-solo-ai/n8n-workflows/processamento-documentos.json
{
  "name": "Processamento de Documentos - ContabilidadePRO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "documento-upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-upload",
      "name": "Webhook - Upload Documento",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "documento-upload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/queue/enqueue",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"queueName\": \"processamento_documentos\",\n  \"jobData\": {\n    \"type\": \"processamento_documento\",\n    \"documentoId\": \"{{ $json.body.documentoId }}\",\n    \"empresaId\": \"{{ $json.body.empresaId }}\",\n    \"tipoDocumento\": \"{{ $json.body.tipoDocumento || 'NFe' }}\",\n    \"arquivoUrl\": \"{{ $json.body.arquivoUrl }}\",\n    \"processarOCR\": {{ $json.body.processarOCR || true }},\n    \"validarSchema\": {{ $json.body.validarSchema || true }},\n    \"extrairDados\": {{ $json.body.extrairDados || true }},\n    \"timestamp\": \"{{ new Date().toISOString() }}\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "retry": {
            "retry": {
              "retryOnFail": true,
              "maxTries": 2
            }
          }
        }
      },
      "id": "enfileirar-processamento",
      "name": "Enfileirar Processamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "value": "documentos",
          "mode": "list"
        },
        "updateKey": "id",
        "columnsUi": {
          "columnToMatchOn": "id",
          "valueToMatchOn": "={{ $json.body.documentoId }}",
          "columns": [
            {
              "column": "status",
              "value": "processando"
            },
            {
              "column": "enfileirado_em",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "atualizar-status",
      "name": "Atualizar Status - Processando",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-contabilidadepro",
          "name": "Supabase ContabilidadePRO"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Documento enfileirado para processamento\",\n  \"documentoId\": \"{{ $json.body.documentoId }}\",\n  \"status\": \"processando\",\n  \"estimatedTime\": \"2-5 minutos\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "resposta-webhook",
      "name": "Resposta Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "triggerMode": "listenTrigger",
        "channelName": "document_processing_completed"
      },
      "id": "postgres-trigger-processado",
      "name": "Postgres Trigger - Documento Processado",
      "type": "n8n-nodes-base.postgresTrigger",
      "typeVersion": 1,
      "position": [240, 600],
      "credentials": {
        "postgres": {
          "id": "supabase-contabilidadepro",
          "name": "Supabase ContabilidadePRO"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  d.*,\n  e.nome as empresa_nome,\n  e.email as empresa_email\nFROM documentos d\nJOIN empresas e ON d.empresa_id = e.id\nWHERE d.id = $1",
        "additionalFields": {
          "queryParameters": "={{ [$json.payload.id] }}"
        }
      },
      "id": "buscar-documento",
      "name": "Buscar Detalhes do Documento",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [460, 600],
      "credentials": {
        "postgres": {
          "id": "supabase-contabilidadepro",
          "name": "Supabase ContabilidadePRO"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-condition",
              "leftValue": "={{ $json.status }}",
              "rightValue": "processado",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "verificar-status-doc",
      "name": "Verificar Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validation-error",
              "leftValue": "={{ $json.validacao_schema && !$json.validacao_schema.valido }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "verificar-validacao",
      "name": "Verificar Validação",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/queue/enqueue",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"queueName\": \"notificacoes\",\n  \"jobData\": {\n    \"type\": \"notificacao\",\n    \"tipo\": \"email\",\n    \"destinatario\": \"{{ $json.empresa_email }}\",\n    \"template\": \"documento_processado_sucesso\",\n    \"dados\": {\n      \"empresa_nome\": \"{{ $json.empresa_nome }}\",\n      \"documento_nome\": \"{{ $json.nome_arquivo }}\",\n      \"tipo_documento\": \"{{ $json.tipo_documento }}\",\n      \"classificacao\": \"{{ $json.classificacao.tipo }}\",\n      \"confianca\": \"{{ Math.round($json.classificacao.confianca * 100) }}%\",\n      \"dados_extraidos\": {{ JSON.stringify($json.dados_extraidos) }}\n    },\n    \"timestamp\": \"{{ new Date().toISOString() }}\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "notificar-sucesso",
      "name": "Notificar Sucesso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/queue/enqueue",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"queueName\": \"notificacoes\",\n  \"jobData\": {\n    \"type\": \"notificacao\",\n    \"tipo\": \"email\",\n    \"destinatario\": \"{{ $json.empresa_email }}\",\n    \"template\": \"documento_erro_validacao\",\n    \"prioridade\": \"alta\",\n    \"dados\": {\n      \"empresa_nome\": \"{{ $json.empresa_nome }}\",\n      \"documento_nome\": \"{{ $json.nome_arquivo }}\",\n      \"tipo_documento\": \"{{ $json.tipo_documento }}\",\n      \"erros_validacao\": {{ JSON.stringify($json.validacao_schema.erros) }},\n      \"acao_requerida\": \"Verificar e corrigir o documento\"\n    },\n    \"timestamp\": \"{{ new Date().toISOString() }}\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "notificar-erro-validacao",
      "name": "Notificar Erro de Validação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "nfe-condition",
              "leftValue": "={{ $json.classificacao.tipo }}",
              "rightValue": "NFe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "verificar-tipo-nfe",
      "name": "É NFe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 700]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": {
          "value": "lancamentos_contabeis",
          "mode": "list"
        },
        "columnsUi": {
          "columns": [
            {
              "column": "empresa_id",
              "value": "={{ $json.empresa_id }}"
            },
            {
              "column": "documento_id",
              "value": "={{ $json.id }}"
            },
            {
              "column": "tipo_lancamento",
              "value": "entrada_nfe"
            },
            {
              "column": "valor",
              "value": "={{ $json.dados_extraidos.valorTotal || 0 }}"
            },
            {
              "column": "data_lancamento",
              "value": "={{ $json.dados_extraidos.dataEmissao || new Date().toISOString().split('T')[0] }}"
            },
            {
              "column": "descricao",
              "value": "=NFe {{ $json.dados_extraidos.numero || 'S/N' }} - {{ $json.dados_extraidos.cnpjEmitente || 'Emitente não identificado' }}"
            },
            {
              "column": "detalhes",
              "value": "={{ JSON.stringify($json.dados_extraidos) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "criar-lancamento-contabil",
      "name": "Criar Lançamento Contábil",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1340, 600],
      "credentials": {
        "postgres": {
          "id": "supabase-contabilidadepro",
          "name": "Supabase ContabilidadePRO"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO logs_automacao (workflow_name, execution_id, empresa_id, acao, status, detalhes, timestamp)\nVALUES ($1, $2, $3, $4, $5, $6, NOW())",
        "additionalFields": {
          "queryParameters": "=[\n  \"processamento-documentos\",\n  \"{{ $workflow.id }}\",\n  \"{{ $json.empresa_id }}\",\n  \"documento_processado\",\n  \"sucesso\",\n  {\n    \"documento_id\": \"{{ $json.id }}\",\n    \"tipo_documento\": \"{{ $json.tipo_documento }}\",\n    \"classificacao\": \"{{ $json.classificacao.tipo }}\",\n    \"confianca\": {{ $json.classificacao.confianca }},\n    \"validacao_ok\": {{ !$json.validacao_schema || $json.validacao_schema.valido }},\n    \"lancamento_criado\": {{ $json.classificacao.tipo === 'NFe' }}\n  }\n]"
        }
      },
      "id": "log-processamento",
      "name": "Log Processamento",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1340, 800],
      "credentials": {
        "postgres": {
          "id": "supabase-contabilidadepro",
          "name": "Supabase ContabilidadePRO"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Upload Documento": {
      "main": [
        [
          {
            "node": "Enfileirar Processamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enfileirar Processamento": {
      "main": [
        [
          {
            "node": "Atualizar Status - Processando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Status - Processando": {
      "main": [
        [
          {
            "node": "Resposta Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Trigger - Documento Processado": {
      "main": [
        [
          {
            "node": "Buscar Detalhes do Documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Detalhes do Documento": {
      "main": [
        [
          {
            "node": "Verificar Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Status": {
      "main": [
        [
          {
            "node": "Verificar Validação",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notificar Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Validação": {
      "main": [
        [
          {
            "node": "Notificar Erro de Validação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É NFe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Sucesso": {
      "main": [
        [
          {
            "node": "É NFe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É NFe?": {
      "main": [
        [
          {
            "node": "Criar Lançamento Contábil",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Processamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Lançamento Contábil": {
      "main": [
        [
          {
            "node": "Log Processamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-19T10:30:00.000Z",
      "updatedAt": "2025-01-19T10:30:00.000Z",
      "id": "document-processing",
      "name": "Processamento Documentos"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-01-19T10:30:00.000Z",
  "versionId": "1"
}
